@import "../../node_modules/normalize-scss/sass/normalize/import-now";
@import "variables";
@import "modal";
@import "header";
@import "listModal";
@import "docView";
@import "formModal";

a {
  color: #fff;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: lighter;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button, input {
  outline: none;
}

button {
  background: $primary-color;
  border: none;
  color: #fff;
  padding: 20px;
  &:hover {
    cursor: pointer;
    background: darken($primary-color, 5%);
  }
}
